.login-button {
  position: relative;
  background-color: white;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 12px 32px;
  border: none;
  cursor: pointer;
  clip-path: polygon(
    0 0,
    /* top-left */ calc(100% - 20px) 0,
    /* top-right before cut */ 100% 20px,
    /* cut corner */ 100% 100%,
    /* bottom-right */ 20px 100%,
    /* bottom-left after cut */ 0 calc(100% - 20px) /* cut corner */
  );
  z-index: 1;
}

.login-button::before {
  content: "";
  position: absolute;
  inset: 3px;
  background-color: var(--colors-primary-90);
  clip-path: polygon(
    0 0,
    /* top-left */ calc(100% - 20px) 0,
    /* top-right before cut */ 100% 20px,
    /* cut corner */ 100% 100%,
    /* bottom-right */ 20px 100%,
    /* bottom-left after cut */ 0 calc(100% - 20px) /* cut corner */
  );
  margin: -2px;
  z-index: -1;
}

.login-button-primary {
  position: relative;
  background-color: yellow;
  color: black;
  font-weight: bold;
  font-size: 18px;
  padding: 12px 32px;
  border: none;
  cursor: pointer;
  clip-path: polygon(
    0 0,
    /* top-left */ calc(100% - 20px) 0,
    /* top-right before cut */ 100% 20px,
    /* cut corner */ 100% 100%,
    /* bottom-right */ 20px 100%,
    /* bottom-left after cut */ 0 calc(100% - 20px) /* cut corner */
  );
  z-index: 1;
}
