.root {
  position: relative;
  width: 100%;
  height: 48px;
  background-color: var(--colors-primary-80);
  padding: 6px 0px;
  border: none;
  border-radius: 0;
  clip-path: var(--edge-corners);
  /* border-color: var(--colors-primary-90) !important; */
}

.root::after {
  /* content: ""; */
  /* position: absolute; */
  /* inset: 3px; */
  /* background-color: var(--colors-primary-90); */
  background-color: var(--colors-primary-80);
  /* clip-path: var(--edge-corners); */
  /* margin: -2px; */
  /* z-index: -1; */
}

.root:active {
  /* background-color: rgb(25, 50, 217); */
}

.control {
  background-color: transparent;
  clip-path: var(--edge-corners);
  overflow: hidden;
  height: 100%;
  padding: 0 12px;
  /* border: 1px solid red; */
}

.control[data-active],
.control[data-checked="true"] {
  /* background: #f5fd89; */
}

.control[data-active]:hover,
.control[data-checked="true"]:hover {
  /* background: #f5fd89; */
}

.control:not([data-active]):not([data-checked="true"]) + .control {
  /* box-shadow: -1px 0 0 rgba(255, 255, 255, 0.2); */
  /* background-color: red; */
}

.control:hover {
  /* color: var(--colors-text-40); */
}

.indicator {
  background-color: var(--colors-secondary-80);
  border-radius: 0;
  height: 34px !important;
  clip-path: var(--edge-corners);
}

.label {
  color: var(--colors-text-10);
}

.label:hover {
  color: var(--colors-text-10);
}

.label[data-active] {
  color: var(--colors-text-100);
}

/* Primary variant */
.root[data-variant="primary"]:hover::after {
  /* background-color: var(--colors-primary-80); */
}

.root[data-variant="primary"]:hover {
  /* background-color: red; */
}
